@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Teko|The+Girl+Next+Door|Tulpen+One|Amatic+SC|Advent+Pro|Six+Caps|Shadows+Into+Light+Two|Laila);

body, table, form, input, td, th, p, textarea, select a {
    font-family: 'Advent Pro', cursive;
    color: black;
}

body {
    background-size: 100% 100%;
    background-image: url("cb.jpg");
    width: 100%;

}

div.stage{
    background: transparent;
}

.stage-name{
    background-color: gold;
    font-size: x-large;
}

div#pipelines-1{
    margin-bottom: 1cm;
}

div.task-content{
    color: black;
    font-weight: bold;
    font-size: large;
}

div.stage-name{
}

.pipeline-cell{
    width: 25%;
}

.pipeline{
    width: 100%;
    float: left;
}

.pipeline-main{
    float: left;
    width: 100%;
}